[submodule "link/vim/bundle/vim-wakatime"]
	path = link/vim/bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "link/oh-my-zsh/custom/plugins/wakatime"]
	path = link/oh-my-zsh/custom/plugins/wakatime
	url = https://github.com/sobolevn/wakatime-zsh-plugin.git
[submodule "link/vim/pack/typescript/start/typescript-vim"]
	path = link/vim/pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "link/vim/pack/typescript/start/vim-jsx-typescript"]
	path = link/vim/pack/typescript/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
