[submodule "link/vim/pack/plugins/start/vim-go"]
	path = link/vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "link/vim/pack/plugins/start/vim-terraform"]
	path = link/vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
